body {
    background-image: url("starry-sky.jpg");
    min-height: 100%;
}

.topbuttons {
    margin-top: 75px;
    margin-left: 10px;
}

h1 {
    color: midnightblue;
    font-family: 'Orbitron';
    font-size: 48px;
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 4px;
}


h2, h3 {
    color: yellow;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    padding-top: 0;
}

.gifplusrating {
       display: inline-block; 
       margin-left: 10px;
}

img {
    height: 250px;
    width: 250px;
}

.inputbutton {
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}

.picture {
    color: yellow;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;

}

